useDynLib(Cubist)

import(lattice, reshape2)

importFrom("stats", "complete.cases", "reshape")

export(cubistControl,
       cubist,
       exportCubistFiles,
       cubist.default)

S3method(cubist, default)

S3method(summary, cubist)
S3method(print, summary.cubist)

S3method(dotplot, cubist)
S3method(coef, cubist)

S3method(print, cubist)

S3method(predict, cubist)

S3method(QuinlanAttributes, numeric)
S3method(QuinlanAttributes, factor)
S3method(QuinlanAttributes, character)
S3method(QuinlanAttributes, ordered)
S3method(QuinlanAttributes, matrix)
S3method(QuinlanAttributes, data.frame)

       
