
*.o

pkg/Cubist/config.log

pkg/Cubist/config.status

*.so

pkg/Cubist/src/Makevars

pkg/Cubist_0.0.19.tar.gz

pkg/Cubist.Rcheck

config.log

config.status

revdep/*.noindex
.DS_Store
revdep/data.sqlite
.Rproj.user
.Rhistory
docs
src/Makevars
/doc/
/Meta/
